<div class="col-md-12">
  <h2>View all open requests</h2>

  <table id="my-request-table">
    <tr>
      <th>Game Name</th>
      <th>Console</th>
      <th>Day/Time</th>
      <th>User ID</th>
      {{!-- <th>Time</th> --}}
    </tr>
    {{#if requests.length}}
    {{#each requests as |r|}}
    <tr>

      <td>{{game.name}}</td>
      <td>{{console.name}}</td>
      <td>{{r.date}}</td>
      {{!-- <td>{{user.user_name}}</td> --}}
      <td>
        <a role="button" class="btn btn-danger float-end" href="/find-a-buddy/{{r.id}}">Get in contact</a>
      </td>

    </tr>
    {{/each}}
    {{/if}}
  </table>
</div>

{{!-- script --}}
<script type="module" src="/js/findabuddy.js"></script>