{{!-- Find a Buddy Form --}}
<div class="col-md-6 ">
  <h2>Find A Buddy</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="console-signup">Choose the console:</label>
      <select name="console-signup" class="form-control" id="console-signup">
        {{#each consoles}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="game-signup">Choose the game:</label>
      <select name="game-signup" class="form-control" id="game-signup">
        {{#each games}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    {{!-- <div class="form-group">
      <label class="date-time" for="meeting-time">Date and time:</label>
      <input type="datetime-local" id="meeting-time" name="meeting-time" value="2023-03-07T19:30" min="2023-03-07T00:00"
        max="2026-03-30T00:00">
    </div> --}}
    <hr>
    <div class="form-group">
      <button class="btn btn-secondary" type="submit" id="submit">Find me a buddy</button>
    </div>
  </form>
</div>

{{!-- Find a Buddy Results --}}


<div class="col-md-5 container" id="findabuddy-results">
  {{!-- Current Blog Posts (if there are any created)--}}
  {{#if buddies.length}}
  <div class="col-md-6 buddy-list">
    <h3>Current Results:</h3>
    <section class="container">
      {{#each buddies as |buddy|}}

      {{else}}
      <p>Fill out the form and see who you can buddy up with!</p>
      {{/each}}
    </section>
  </div>
  {{/if}}

</div>

{{!-- script --}}
<script src="/js/findabuddy.js"></script>