<div class="col-md-6">
    <h2>My requests</h2>

    <table id="my-request-table">
        <tr>
            <th>Game Name</th>
            <th>Console</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>{{game.name}}</td> {{!-- 20 games --}}
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time<input type="button" value="X" onclick="DeleteRow()"></td>  --}} {{!-- FUNCTION (JS) FOR DELETE ROW IS AT BOTTOM}}
            {{!-- <td><input type="button" value="X" onclick="DeleteRow()"></td>  --}} 
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}} 
            {{!-- <td><input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>
        <tr>
            <td>{{game.name}}</td>
            <td>{{console_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <input type="button" value="X" onclick="DeleteRow()"></td> --}}
        </tr>

    </table>
    
    </div>


    {{!-- CSS for the table --}}

    {{!-- #my-request-table {
        border-collapse: collapse;
        width: 100%;
    } --}}

    {{!-- #my-request-table td, #my-request-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }  --}}

    {{!--  #my-request-table tr:nth-child(even){background-color: #f2f2f2;}--}}

    {{!-- #my-request-table tr:hover {background-color: #ddd;} --}}

    {{!-- #my-request-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: bg-dark;
        color: white; -- ** Should we make it red ?
    } --}}


    {{!-- Delete Row function J.S --}}

    {{!-- function DeleteRow() {
        var td = event.target.parentNode;
        var tr = td.parentNode;
        tr.parentNode.removeChild(tr);
    } --}}

{{!-- <script src="/controllers/findabuddyRoutes.js"></script> --}}
