<div class="col-md-6">
    <h2>My requests</h2>

    <table id="my-game-request">
        <tr>
            <th>Username</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>{{user_id}}</td> {{!-- 20 games --}}
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{date_id}}</td>
            {{!-- <td>time</td> --}}
            {{!-- <td><button class="get-in-touch" type="submit">Get in touch</button></td> --}}
        </tr>

    </table>
    
    </div>


    {{!-- CSS for the table --}}

    {{!-- my-game-request-table {
        border-collapse: collapse;
        width: 100%;
    } --}}

    {{!-- my-game-request-table td, my-game-request-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }  --}}

    {{!--  my-game-request-table tr:nth-child(even){background-color: #f2f2f2;}--}}

    {{!-- my-game-request-table tr:hover {background-color: #ddd;} --}}

    {{!-- my-game-request-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: bg-dark;
        color: white; -- ** Should we make it red ?
    } --}}